<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSS Only Border Animation</title>
  <link rel="stylesheet" media="all" href="../css/style2.css" />
</head>
<body>
<div class="container"><a class="border-animation" href="Login.html">
    <div class="border-animation__inner">Start</div></a></div>
</body>
</html>